<h1><%= @user.username.capitalize %>'s profile</h1>
<% unless current_user.equal?(@user) %>
  <nav class="blog-pagination mt-3">
    <% if @user.followers.include? current_user %>
      <%= form_tag user_unfollow_path(@user) do %>
        <%= hidden_field_tag 'followed_user_id', @user.id %>
        <%= hidden_field_tag 'follower_user_id', current_user.id %>
        <%= submit_tag "Unfollow", class: "btn btn-outline-secondary rounded" %>
      <%end%>    
    <% else %>
      <%= form_tag user_follow_path(@user) do %>
        <%= hidden_field_tag 'followed_user_id', @user.id %>
        <%= hidden_field_tag 'follower_user_id', current_user.id %>
        <%= submit_tag "Follow", class: "btn btn-outline-secondary rounded" %>
      <%end%>
    <%end%>
  </nav>
<% end %>
<br>

<div class="row mt-2">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Followers
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <%= @user.followers.length %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Following</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <%= @user.followeds.length %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Posts</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <%= @user.articles.length %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Comments</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <%= @user.comments.length %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">

  <div class="col-md-6 mt-3">
    <ul class="list-group">
      <h4>Followers:</h4>
      <% @user.followers.each do |item| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to item.at_name.capitalize, item %>
          <span style="font-size: medium;" class="badge badge-primary badge-pill">😎</span>
        </li>
      <%end%>
    </ul>
  </div>

  <div class="col-md-6 mt-3">
    <ul class="list-group">
      <h4>Following:</h4>
      <% @user.followeds.each do |item| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to item.at_name.capitalize, item %>
          <span style="font-size: medium;" class="badge badge-primary badge-pill">😃</span>
        </li>
      <%end%>
    </ul>
  </div>

</div>

<div class="row mb-2">

  <div class="col-md-12 mt-3">
    <ul class="list-group">
      <h4>Lattest posts:</h4>
      <% @user.articles.each do |item| %>
        <li class="list-group-item">
          <%= link_to item.title, item %>
        </li>
      <%end%>
    </ul>
  </div>

</div>

